name: RDP Chain - Autonomous Launch

on:
  workflow_dispatch:

jobs:
  rdp-main:
    name: RDP Commander
    runs-on: windows-latest
    timeout-minutes: 60
    steps:
      - name: Download RDP Brain Script
        run: Invoke-WebRequest 'https://gitlab.com/Shahzaib-YT/ngrok-multi-nodes/-/raw/main/rdp.ps1' -OutFile 'rdp.ps1'

      - name: Run Main RDP Controller
        run: powershell -ExecutionPolicy Bypass -File .\rdp.ps1
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
          RDP_B_URL: ${{ secrets.RDP_B_URL }}
