name: Multi RDP Nodes

on:
  workflow_dispatch:

jobs:
  rdp-node-1:
    runs-on: windows-latest
    timeout-minutes: 290
    steps:
      - name: Download rdp-node.ps1
        run: Invoke-WebRequest 'https://gitlab.com/Shahzaib-YT/ngrok-github/-/raw/main/rdp-node.ps1' -OutFile 'rdp.ps1'
      - name: Execute RDP Node 1
        run: powershell -ExecutionPolicy Bypass -File .\rdp.ps1
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

  rdp-node-2:
    runs-on: windows-latest
    timeout-minutes: 290
    steps:
      - name: Download rdp-node.ps1
        run: Invoke-WebRequest 'https://gitlab.com/Shahzaib-YT/ngrok-github/-/raw/main/rdp-node.ps1' -OutFile 'rdp.ps1'
      - name: Execute RDP Node 2
        run: powershell -ExecutionPolicy Bypass -File .\rdp.ps1
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

  rdp-node-3:
    runs-on: windows-latest
    timeout-minutes: 290
    steps:
      - name: Download rdp-node.ps1
        run: Invoke-WebRequest 'https://gitlab.com/Shahzaib-YT/ngrok-github/-/raw/main/rdp-node.ps1' -OutFile 'rdp.ps1'
      - name: Execute RDP Node 3
        run: powershell -ExecutionPolicy Bypass -File .\rdp.ps1
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

  rdp-node-4:
    runs-on: windows-latest
    timeout-minutes: 290
    steps:
      - name: Download rdp-node.ps1
        run: Invoke-WebRequest 'https://gitlab.com/Shahzaib-YT/ngrok-github/-/raw/main/rdp-node.ps1' -OutFile 'rdp.ps1'
      - name: Execute RDP Node 4
        run: powershell -ExecutionPolicy Bypass -File .\rdp.ps1
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
